<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/main/layout::header}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="~{/main/layout::nav}"></div>
<div>
    <div class="container">
        <form th:action="@{/employee/save}" th:object="${employee}" method="post">
            <h1>CHỈNH SỬA NHÂN VIÊN</h1>
            <table class="table table-dark">
                <tr>
                    <td><input type="hidden" th:field="*{id}"></td>
                </tr>
                <tr>
                    <th>Mã nhân viên</th>
                    <td><input type="text" th:field="*{code}"></p></td>
                </tr>
                <tr>
                    <th>Tên</th>
                    <td><input type="text" th:field="*{name}"></td>
                </tr>
                <tr>
                    <th>Ngày sinh</th>
                    <td><input type="date" th:field="*{birthday}"></td>
                </tr>
                <tr>
                    <th>Chứng minh nhân dân</th>
                    <td><input type="text" th:field="*{idCard}"><br><p class="text-danger" th:if="${#fields.hasErrors('idCard')}" th:errors="*{idCard}"></p></td>
                </tr>
                <tr>
                    <th>Lương</th>
                    <td><input type="text" th:field="*{salary}"></td>
                </tr>
                <tr>
                    <th>Số điện thoai</th>
                    <td><input type="text" th:field="*{phone}"><br><p class="text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></p></td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td><input type="text" th:field="*{email}"><br><p class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p></td>
                </tr>
                <tr>
                    <th>Địa chỉ</th>
                    <td><input type="text" th:field="*{address}"></td>
                </tr>
                <tr>
                    <th>Vị trí</th>
                    <td>
                        <select th:field="*{position}">
                            <option th:each="pos : ${position}" th:value="${pos.id}" th:text="${pos.name}">
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Trình độ</th>
                    <td>
                        <select th:field="*{educationDegree}">
                            <option th:each="education : ${educationDegree}" th:value="${education.id}" th:text="${education.name}">
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Bộ phận</th>
                    <td>
                        <select th:field="*{division}">
                            <option th:each="di : ${division}" th:value="${di.id}" th:text="${di.name}">
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Lưu" class="btn btn-primary"><a th:href="@{/employee/list}"
                                                                                    class="btn btn-danger">Hủy</a></td>
                </tr>
            </table>
        </form>
    </div>
</div>
<div th:replace="~{/main/layout::script}"></div>
</body>
</html>