<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/main/layout::header}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="~{/main/layout::nav}"></div>
<!--<nav class="navbar navbar-light bg-light justify-content-between">-->
<!--    <form th:action="@{/customer/search}" class="form-inline">-->
<!--        <input class="form-control mr-sm-2" name="keyword" type="search" placeholder="Search" aria-label="Search">-->
<!--        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm kiếm</button>-->
<!--    </form>-->
<!--</nav>-->
<div class="container-fluid">
    <h1>DANH SÁCH KHÁCH HÀNG ĐANG SỬ DỤNG DỊCH VỤ</h1>
    <table class="table table-dark">
        <tr>
            <th>STT</th>
            <th>Mã khách hàng</th>
            <th>Tên khách hàng</th>
            <th>Ngày bắt đầu</th>
            <th>Ngày kết thúc</th>
            <th>Tên dịch vụ</th>
            <th>Dịch vụ đi kèm</th>
        </tr>
        <tr th:each="cus, row : ${listUsing}">
            <td th:text="${row.index+1}"></td>
            <td th:text="${cus.customer.code}"></td>
            <td th:text="${cus.customer.name}"></td>
            <td th:text="${cus.startDate}"></td>
            <td th:text="${cus.endDate}"></td>
            <td th:text="${cus.service.name}"></td>
            <td>
                <th:block th:each="detail : ${cus.contractDetailSet}">
                    <p th:text="${detail.attachService.name}"></p>
                </th:block>
            </td>
<!--            <td>-->
<!--                <a class="btn btn-primary" th:href="@{/customer/{id}/edit(id=${cus.id})}"><i-->
<!--                        class="fas fa-edit"></i></a>-->
<!--                &lt;!&ndash;            <td><a class="btn btn-primary" th:href="@{/product/{id}/delete(id=${pro.id})}">Delete</a></td>&ndash;&gt;-->

<!--                <a>-->
<!--                    <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"-->
<!--                            th:onclick="'actionSetId(\''+ ${cus.id} +'\')'">-->
<!--                        <i class="fas fa-trash-alt"></i>-->
<!--                    </button>-->

<!--                </a>-->
<!--                <a class="btn btn-warning" th:href="@{/customer/{id}/view(id=${cus.id})}"><i-->
<!--                        class="far fa-eye"></i></a>-->
<!--            </td>-->
        </tr>
    </table>
    <div>
        <a style="color: white;padding: 10px;text-decoration: none;border: white 1px solid" class="btn btn-primary"
           th:if="${listUsing.hasPrevious()}" th:href="@{/customer/list(page=${listUsing.number - 1})}">
            <button class="btn btn-primary">Previous</button>
        </a>
        <span style="color: white;padding: 10px ;border: white 1px solid" th:text="${listUsing.number + 1}"></span>
        <span style="color: white;padding: 10px ;border: white 1px solid" th:text="${listUsing.totalPages}"></span>
        <a style="color: white;padding: 10px;text-decoration: none;border: white 1px solid" class="btn btn-primary"
           th:href="@{/customer/list(page=${listUsing.number + 1})}" th:if="${listUsing.hasNext()}">
            <button class="btn btn-primary">Next</button>
        </a>
    </div>
    <br><br>
    <a th:href="@{/}"><img src="/picture/FURAMA.png" width="100px" height="100px" alt=""></a>
</div>
<!--<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--    <div class="modal-dialog">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h5 class="modal-title" id="exampleModalLabel">Xóa khách hàng</h5>-->
<!--                <button type="button" class="close" data-dismiss="modal" aria-label="Đóng">-->
<!--                    <span aria-hidden="true">&times;</span>-->
<!--                </button>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--                Bạn có muốn xóa khách hàng này?-->
<!--            </div>-->
<!--            <div class="modal-footer">-->
<!--                <form th:action="@{/customer/delete}" method="get">-->
<!--                    <input type="hidden" name="id" id="idDeleted">-->
<!--                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>-->
<!--                    <button type="submit" class="btn btn-danger">Xóa</button>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--<script>-->
<!--    function actionSetId(id) {-->
<!--        document.getElementById("idDeleted").value = id;-->
<!--    }-->
<!--</script>-->
<div th:replace="~{/main/layout::script}"></div>
</body>
</html>