<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Create</h2>
<form th:action="@{/save}" th:object="${user}" method="post">
    <table>
        <tr>
            <td>First Name</td>
            <td><input type="text" th:field="*{firstName}"></td>
            <td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" style="color: red"></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td><input type="text" th:field="*{lastName}"></td>
            <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" style="color: red"></td>

        </tr>

        <tr>
            <td>Age</td>
            <td><input type="text" th:field="*{age}"></td>
            <td th:if="${#fields.hasErrors('age')}" th:errors="*{age}" style="color: red"></td>

        </tr>
        <tr>
            <td>Phone</td>
            <td><input type="text" th:field="*{phone}"></td>
            <td th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" style="color: red"></td>

        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text" th:field="*{email}"></td>
            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red"></td>

        </tr>
        <tr>
            <td><input type="submit" value="Save"></td>
        </tr>
    </table>
</form>
</body>
</html>