<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h1>Xem thông tin sản phẩm</h1>
    <p>
        <a th:href="@{/}">
            Trở về trang chủ
        </a>
    </p>

    <table class="table table-striped">
        <tr>
            <td>Id: </td>
            <td th:text="${product.id}"></td>
        </tr>
        <tr>
            <td>Tên sản phẩm: </td>
            <td th:text="${product.name}"></td>
        </tr>
        <tr>
            <td>Giá: </td>
            <td th:text="${product.price}"></td>
        </tr>
        <tr>
            <td>Loại sản phẩm: </td>
            <td th:text="${product.productType}"></td>
        </tr>
    </table>
</div>
</body>
</html>