
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/main/layout::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h1>CREATE BLOG</h1>
    <form th:action="@{/blog/save}" method="post" th:object="${blog}">
        <table class="table table-striped">
            <tr>
                <td>Tiêu đề</td>
                <td><input type="text" th:field="*{title}"></td>
            </tr>
            <tr>
                <td>Nội dung</td>
                <td><input type="text" th:field="*{content}"></td>
            </tr>
            <tr>
                <td>Thể loại</td>
                <td>
                    <select th:field="*{category}" class="form-control"  >
                        <option th:each="cate : ${categories}" th:value="${cate.id}" th:text="${cate.name}">
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><input class="btn btn-primary" type="submit" value="Save"><a th:href="@{/blog/list}" class="btn btn-primary">
                    Cancel
                </a></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>