<h1>Rating Bar</h1>
<div class="container">
  <table>
    <thead>
    <tr>
      <td>Value</td>
      <td>Rating</td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <input type="radio" name="star" class="star star-5" id="star-5">
      <input type="radio" name="star" class="star star-4" id="star-4">
      <input type="radio" name="star" class="star star-3" id="star-3">
      <input type="radio" name="star" class="star star-2" id="star-2">
      <input type="radio" name="star" class="star star-1" id="star-1">
    </tr>
    </tbody>
  </table>
</div>

