<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Product List</h4>
          <div *ngIf="productList; else nodata">
            <table class="table">
              <thead>
              <th>#</th>
              <th>Tên</th>
              <th>Giá</th>
              <th>Ngày sản xuất</th>
              <th>Trạng thái</th>
              <th>Origin</th>
              </thead>
              <tbody>
              <tr *ngFor="let item of productList; let i = index" (click)="showDetail(item)">
                <td>{{i + 1}}</td>
                <td>{{item.name | titlecase}}</td>
                <td>{{item.price | currency: "VND":true}}</td>
                <td>{{item.dateOfManufacture | date: 'dd/MM/yyyy'}}</td>
                <td [ngStyle]="{'color': item.quantity == 0 ? 'red' : ''}">
                  <span *ngIf="item.quantity == 0">Hết hàng</span>
                  <span *ngIf="item.quantity > 0 && item.quantity < 10">Tồn kho ít</span>
                  <span *ngIf="item.quantity >= 10">Tồn kho nhiều</span>
                </td>
                <td>{{item.origin}}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <ng-template #nodata>
            <p style="color: red">Không có sản phẩm nào, cần thêm mới sản phẩm</p>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div>
    <app-view-product [productDetail]="product"></app-view-product>
  </div>
  <div>
    <app-create-product (createProduct)="getCreateProduct($event)"></app-create-product>
  </div>

</div>
