<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<div class="container">
<h3>Product</h3>
<p>
    <a th:href="@{/product/create}">
        Add new product
    </a>
</p>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Type</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product,productStat : ${products}">
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.type}"></td>
            <td>
                <a class="btn btn-primary" th:href="@{/product/{id}/edit(id=${product.getId()})}">Edit <i class="fas fa-edit"></i></a>
            <a>
                <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"
                        th:onclick="'productSetId(\''+ ${product.id} +'\')'" >Delete
                    <i class="fas fa-trash-alt"></i>
                </button>
            </a>
            <a class="btn btn-warning" th:href="@{/product/{id}/view(id=${product.getId()})}">View <i class="far fa-eye"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xóa sản phẩm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Đóng">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn có muốn xóa sản phẩm này?
            </div>
            <div class="modal-footer">
                <form th:action="@{/product/delete}" method="get">
                    <input type="hidden" name="id" id="idDeleted">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-danger">Xóa</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function productSetId(id) {
        document.getElementById("idDeleted").value = id;
    }
</script>
<footer class="container" th:replace="/layout :: footer"></footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>