<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/}">Back to Product list</a>
<table>
    <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Delete</th>
    </tr>
    <tr th:each="product : ${cart}">
        <td th:text="${product.key.name}"></td>
        <td th:text="${product.value}"></td>
        <td th:text="${product.value*product.key.price}"></td>
        <td><a th:href="@{cart/delete/__${product.key.id}__}">Delete</a></td>
    </tr>
</table>
<h3>Total price: <p th:text="${price}"></p></h3>
<a th:href="@{/buy}">Click here to Buy all</a>
<br>
<a th:href="@{cart/delete}">Delete All</a>
</body>
</html>