<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <style>
        .dropdown-item {
            color: whitesmoke;
        }

        body {
            width: 100%;
            height: 100%;
            padding: 75px 0  0;
            background-attachment: fixed;
            background-repeat: no-repeat;
            /*background-color: aquamarine;*/
            background-image: url("/picture/hinh-nen-su-tu-3d-dep.jpg");
        }

        h1 {
            text-align: center;
            color: white;
            text-shadow: 0 0 3px #FF0000;
        }

        table {
            margin: 0 auto;
            box-shadow: 5px 5px 5px white;
            background-color: white;
            opacity: 0.8;
            color: white
        }

    </style>
</head>
<body>
<div th:fragment="nav">
    <nav class="navbar navbar-expand-lg navbar-dark bg-success fixed-top" id="fixNav">
        <a style="color: whitesmoke;margin: 0 50px 0 50px" th:href="@{/}" class="navbar-brand"><i class="fas fa-home"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!--            <li class="nav-item">-->
                <!--                <a class="nav-link" >Khách hàng</a>-->
                <!--            </li>-->
                <li class="nav-item dropdown">
                    <a style="color: whitesmoke;margin-left: 50px" class="nav-link dropdown-toggle" id="navbarDropdown1"
                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sản phẩm
                    </a>
                    <div class="dropdown-menu bg-success" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/product/list}" style="cursor: pointer">Danh sách sảm phẩm</a>
                        <a class="dropdown-item" th:href="@{/product/create}">Thêm mới sản phẩm</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a style="color: whitesmoke;margin-left: 50px" class="nav-link dropdown-toggle" id="navbarDropdown2"
                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Đơn hàng
                    </a>
                    <div class="dropdown-menu bg-success" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/bill/list}" style="cursor: pointer">Danh sách đơn hàng</a>
                        <a class="dropdown-item" th:href="@{/bill/create}">Thêm mới đơn hàng</a>
                    </div>
                </li>
<!--                <li class="nav-item dropdown">-->
<!--                    <a style="color: whitesmoke;margin-left: 50px" class="nav-link dropdown-toggle" id="navbarDropdown3"-->
<!--                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                        Loại sản phẩm-->
<!--                    </a>-->
<!--                    <div class="dropdown-menu bg-success" aria-labelledby="navbarDropdown">-->
<!--                        <a class="dropdown-item" th:href="@{/product_type/list}" style="cursor: pointer">Danh sách loại sản phẩm</a>-->
<!--                        <a class="dropdown-item" th:href="@{/product_type/create}">Thêm mới loại sản phẩm</a>-->
<!--                    </div>-->
<!--                </li>-->
            </ul>
        </div>
    </nav>
</div>
<div th:fragment="script">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</div>
</body>
</html>